
* {
    box-sizing: border-box;
    user-select:none;
}

@font-face {
    font-family: 'Pixel';
    src: url('fonts/Pixel.ttf');
}

[wm-flappy]{
    margin-top: 20px;
    height: 500px;
    width: 800px;
    position: flex;
    border: solid 3px rgb(29, 85, 159);
    background-color: rgb(90, 189, 255);
}
.hid1, .hid2{
    position: absolute;
    height: 500px;
    width: 120px;
    background-color: #0D262D;
    top: 110px;
}
.hid2 {
    left: 1237px;
    border-left: solid 3px rgb(29, 85, 159);
}
.hid1 {
    left: 323px;
    border-right: solid 3px rgb(29, 85, 159);
}

.passaro {
    position: absolute;
    height: 50px;
    width: 70px;
    left: calc(50% - 30px);
    top: calc(50% - 120px);
}

.tubo-area {
    position: absolute;
    width: 80px;
    height: 496px;
    top: 113px;
    left: calc(100% - 440px);
    overflow: visible;
}
.tubo-top, .tubo-bottom, .base-tube{
    background-color: rgb(5, 178, 5);
    border: solid 3px black;
}
.tubo-top {
    height: 300px;
}
.tubo-bottom {
    margin-top: 120px;
    height: calc(496px - 322px - 120px);
}
.game-over{
    position: absolute;
    background-color: rgba(239, 48, 14, 0.51);
    border: solid 4px rgb(22, 86, 156);
    top: 190px;
    left: 730px;
    height: 310px;
    width: 250px;
}
.game-over p {
    position: relative;
    text-align: center;
    font-size: 30px;
}

.score {
    position: absolute;
    font-size: 60px;
    color: white;
    top: 115px;
    left: 1170px;
}

.restart-button{
    position: relative;
    font-size: 20px;
    text-align: center;
    margin-left: 90px;
}

.cloud-sky{
    height: 493px;
    width: 800px;
    position: flex;
}

.base-tube {
    height: 30px;
    width: 100px;
    margin-left: -10px;
    margin-top: -30px;
}